h1, h2, p {
    font-family: sans-serif;
}

body {
    padding: 2em;
}

h1 {
    font-size: 2.25rem;
    margin: 0 auto;
    font-weight: ;
    text-decoration: ;
    color: ;
    width: fit-content;
}

h2 {
    font-size: ;
    padding: ;
    margin: ;
    font-weight: ;
    color: ;
    background-color: ;
}

p {
    text-align: justify;
    font-size: ;
    padding: ;
    margin: ;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    height: 100px;
    width: 100px;
    margin-left: auto;
}
